@using AspTestApp.Models;
@model List<Book>

<h1 id="booksGridHeader">Books grid</h1>

<table align="center">
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    <input type="hidden" value="@book.Id" name="id" disabled />
                    <input type="text" name="Name" value="@book.Name" disabled />
                </td>
                <td>
                    <input type="number" name="PageCount" value="@book.PageCount" disabled />
                </td>
                <td>
                    <input type="text" name="Author" value="@book.Author" disabled />
                </td>
                <td>
                    <input type="text" name="ReceivingDate" value="@book.ReceivingDate.ToShortDateString()" disabled />
                </td>
            </tr>
        }
    </tbody>
</table>